<%-include ('templates/header.ejs');-%>

    <link rel="stylesheet" href="homepage.css">

    <div class="mt-4 p-5 bg-primary text-white rounded">
        <h2>Welcome to Convergence Web Scouting Application</h1>
            <div>&nbsp;</div>
            <p>To start scouting click on Pit Scouting or Match Scouting. To view pit, match, and team lists, click on
                Admin.
            </p>
            <br/>
    </div>


    <%- include('templates/footer'); -%>