@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed&family=Space+Mono:ital@1&display=swap');


.about-container {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-align: center;
    color: black;
}

.team-img-container {
    text-align: center;
    font-size: x-large;
}

.team-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
}

.team-info {
    padding-top: 1%;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.center {
    text-align: center;
    width: 100%;
    padding-bottom: 2%;
}

@media screen and (max-width:960px) {
    .team-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        height: auto;
    }

    .about-container {
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        text-align: center;
        color: black;
    }
    
    .team-img-container {
        text-align: center;
        font-size: x-large;
    }
    
}